<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="tabsConfigs" type="GopsDailySheet.Config.TabsConfigSection, GopsDailySheet, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <tabsConfigs>
    <tabs>
      <add name="WGCdailySheet" caption="GOPS Daily Sheet" url="http://www.glidingops.com/DailySheet?org=1&amp;key=" zoomFactor="1.1"/>
      <add name="WGCtracking" caption="GOPS Tracking" url="http://www.glidingops.com/wgc"/>
      <add name="gNetTracking" caption="Gliding.net Tracking" url="https://gliding.net.nz/tracking"/>
    </tabs>
  </tabsConfigs>
  <appSettings>
    <add key="fontSize" value="20"/>
  </appSettings>
</configuration>
